bin/
obj/
.vs/
.idea/
.vscode/
node_modules/
**/wwwroot/vendor/
App_Data/
*.user
*.suo
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
infra/main/backend.hcl
infra/main/*.tfvars
infra/bootstrap/*.tfvars
publish/
